html {
    overflow: auto;
    border-radius: 12px 0px 0px 0px;
}

.editbox {
  margin: .4em;
  padding: 10px;
  font-family: monospace;
  font-size: 14pt;
  color: #111;
  line-height: 1.5;
}

.editbox p {
  margin: 0;
}

.sn-link {
    color: #4F92EB;
    color: #5CA0FF;
    color: #3C7ECF;
    color: #4189CB;
    cursor:pointer;
    text-decoration: none;
}
.sn-link:hover {
    ''text-decoration: underline;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.sn-link-note {
    color: #ff3333;
    cursor:pointer;
    text-decoration: none;
}
.sn-link-note:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.sn-link-unhot {
    color: #111;
    cursor: text;
    text-decoration: none;
}
.sn-link-unhot:hover {
    border-bottom: 0px;
}


::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    background-color: transparent;
}

::-webkit-scrollbar-track-piece  {
    background-color: #CACFDE;
    background: -webkit-gradient(linear, right top, left top,color-stop(0.0, #F7F8FF),color-stop(1.0, #FFF));    
    ''-webkit-border-radius: 6px;
    ''background: #4F4F59 url(/images/texture.png);
}

/*:-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
    height: 30px;
    display: block;
    background-color: #FAA;
}*/

::-webkit-scrollbar-thumb {
    background: -webkit-gradient(linear, right top, left top,color-stop(0.0, #F7F8FF),color-stop(1.0, #FFF));
    background: #CACFDE;
    background: #F7F8FF;
    border: 1px solid #999;
    -webkit-border-radius: 6px;
}

@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: normal;  
  src: local('Droid Sans Mono'), local('DroidSansMono'), url('../fonts/DroidSansMono.woff') format('woff');
}