body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;  
  margin: 0;
  height: 550px;
  width: 400px;
  overflow: hidden;
  background: #4F4F59 url(/images/texture.png);
}

/* index */

div#index {    
    position: absolute;
    width: 400px;
    height:100%;
    left:0px;
}

div#status {
    
}

div#toolbar {
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;    
    background: -webkit-gradient(linear, left top, left bottom,color-stop(0.0, #F7F8FF),color-stop(1.0, white));
    ''background: white;
    outline-color: black;
    -webkit-box-shadow: 0 0px 3px rgba(0,80,128,0.5);
    border: 2px solid #F5F6FD;
    border-radius: 3px;
    width:392px;
}

div#index div#toolbar select#notetags {
    width:25%;
    border-radius: 12px;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 #fff;
    padding: 2px 8px 2px 2px;
    background: rgba(255,255,255,0.1) url(/images/tag_dunkel.png) no-repeat 6px 50%;
}

div#index div#toolbar select#notetags:focus {
    outline: none;
    -webkit-box-shadow: 0 0 3px #3c7ecf;
}

div#index div#toolbar input#q {
    padding: 4px 6px 4px 24px; 
    color: #33; 
    font-size: 13px; 
    width:55%;
    border-radius: 12px; 
    border: 1px solid #999; 
    border: 1px solid rgba(0, 0, 0, 0.3); 
    margin-left: 4px;
    box-shadow: 0 1px 0 #fff; 
    background: transparent url(/images/searchfield.png) no-repeat 6px 50%;
}

div#index div#toolbar input#q:focus {
    border: 1px solid #666; 
    border: 1px solid rgba(0, 0, 0, 0.4); 
    -webkit-box-shadow: 0 0 3px #3c7ecf; 
    outline: none;
}

#add {
    -webkit-transition-duration:0.2s;
    -webkit-transition-property:background-color;
    -webkit-user-select:none;    
    background-image:url(/images/add.png);
    background-repeat:no-repeat no-repeat;
    float:right;
    background-position:50% 50%;
    height:22px;
    width:22px;
    margin-right: 6px;
    margin-top: 3px;
    ''background-color: #aaaaaa;
    border-radius: 6px;
    vertical-align: middle;
}

#add:hover {
    background-color: #aaaaaa;
}

div#notes {  
    width: 99%;
    margin-bottom: 27px;
    position: absolute;
    top: 40px;
    bottom: 0;
    overflow-y: auto;
    overflow-x: none;
}

div#nonotes {
  color: #aaa;
  width:100%;
  text-align: center;  
  padding-top : 30px ;
}

div.noterow {
    background: -webkit-gradient(linear, left top, left bottom,color-stop(0.0, #F7F8FF),color-stop(1.0, white));    
    -webkit-box-shadow: 0 0px 2px rgba(0,80,128,0.5);
    border: 2px solid #F7F8FF;
    border-radius: 6px;
    margin: 4px;
    margin-bottom: 2px;
    margin-top: 0px;
    padding: 2px;
    padding-bottom: 4px;
}

div.noterow:hover { 
    background: rgba(0,80,128,0.5);
    -webkit-box-shadow: 0 0px 6px rgba(0,80,128,0.5);
    color: #ddd;
} 

abbr.notetime {
    min-width: 40px;
    color: #aaa;
    text-align : right;
    padding-right:5px;
    cursor: pointer;
    float: right;
}

div.noteheading, div.abstract {
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    width: auto;
    margin-right: 0px;
    white-space: nowrap;
}

div.noteheading {
}

div.noteheadingdeleted {
    color: #aaa; 
    cursor: pointer;    
}

div.noterowdeleted:hover {
     background: white url(/images/undelete.png) no-repeat 50% 2px;
}

div.pinned:hover {
    -webkit-box-shadow: 0 0px 6px rgba(0,80,128,0.5);
}
div.unpinned:hover {
    -webkit-box-shadow: 0 0px 6px rgba(0,80,128,0.5);
}

div.pinned, div.unpinned {
    cursor: pointer;
    width: 12px;
    margin-left: 3px;
    margin-right: 5px;
    float: left;
    margin-top: 3px;
}

div.pinned {
    background: transparent url(/images/pinned.png) no-repeat;
}

div.unpinned {
    background: transparent url(/images/unpinned.png) no-repeat;  
}

div.unpublished {
    display:none;
}

div.published, div.shared {
    display:inline;
    position: relative;
    left: 1px;
    top: 2px;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    float:left;
    cursor:pointer;    
}

div.published {
    background: transparent url(/images/published.png) no-repeat;
}

div.shared {
    background: transparent url(/images/shared.png) no-repeat;
}

.abstract {
  color: #999;
  font-size: 10px;  
}

#loader {
  background-image: url('/images/loader.gif');
  width: 64px;
  height: 64px;
  margin: 100px auto;
  display: none;
}

#statusbar div {
    display: inline;
    cursor: default;
}
#statusbar div#sync {
    float:right;
    cursor: progress;
}

#statusbar {    
    color: #aaa;
    position: absolute;
    top:524px;
    width: 98%;
    height:18px;    
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    background: white;
    outline-color: black;
    -webkit-box-shadow: 0 0px 3px rgba(0,80,128,0.5);
    border: 2px solid #F5F6FD;
    border-radius: 3px;
}

/* note div */

div#note {
    left:400px;
    position: absolute;
}

div#note2 {
    left:800px;
    top:0px;
    position: absolute;
    width:400px;
}

div#note input#destroy, div#note input#undo {
  float: right;
}

div#note input#backtoindex {
  float: right;
  margin-left:100px;
}

div#note div#toolbar {
  float:right;
}

#contenteditor, #contenteditor2 {
    padding: 10px;    
    height: 486px;
    border-radius: 12px 0px 0px 0px;
    border: 1px solid #999; 
    border: 1px solid rgba(0, 0, 0, 0.3); 
    box-shadow: 0 1px 0 #fff; 
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 4px;    
    resize: none;
    overflow: auto;
    -webkit-user-modify: read-write-plaintext-only !important;
}

.CodeMirror {
    padding: 10px;
    height: 454px;
    border-radius: 12px 0px 0px 0px;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 #fff;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 4px;
    resize: none;
    overflow: auto; 
}

.CodeMirror-lines pre {
    padding-top: 4px;
}

#contenteditor:focus, #contenteditor2:focus {
    border: 1px solid #666;
    border: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 3px #3c7ecf;
    outline: none;    
}

div#note input#tags, div#note input#tags2 {
    padding: 4px 0px 4px 34px;
    display: inline;
    width: 35%;
    color: #333;
    font-size: 13px;    
    border-radius: 12px;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-left: 2px;
    box-shadow: 0 1px 0 #fff;
    background: transparent url(/images/tag_dunkel.png) no-repeat 10px 50%;
}

div#note input#tags:focus, div#note input#tags2:focus {
    border: 1px solid #666;
    border: 1px solid rgba(0, 0, 0, 0.4);    
    -webkit-box-shadow: 0 0 3px #3c7ecf;
    outline: none;
}

div#note div#noteeditor, div#note div#noteeditor2 {
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    background: -webkit-gradient(linear, left top, left bottom,color-stop(0.0, #F7F8FF),color-stop(1.0, white));
    outline-color: black;
    -webkit-box-shadow: 0 0px 3px rgba(0,80,128,0.5);
    border: 2px solid #F5F6FD;
    border-radius: 3px;
    width:392px;    
}

div#note2 div#noteeditor2{
    position:absolute;
    top : 67px;

}
div#note2 #contenteditor2{
    width:370px;
}

div#note div#pinwrapper, div#note div#pinwrapper2 {
    width:10%;
    padding: 5px;
    margin-right:5px;
    display:inline;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;    
    background-color: transparent; 
}

::-webkit-scrollbar-track-piece  {
    background-color: #CACFDE;
    -webkit-border-radius: 6px;
}

:-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
    height: 30px;
    display: block;
    background-color: #FAA;
}

::-webkit-scrollbar-thumb:vertical {      
    background: -webkit-gradient(linear, right top, left top,color-stop(0.0, #F7F8FF),color-stop(1.0, #FFF));
    border: 1px solid #CACFDE;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {    
    background: -webkit-gradient(linear, right top, left top,color-stop(0.0, #F7F8FF),color-stop(1.0, #FFF));
    border: 1px solid #CACFDE;
    -webkit-border-radius: 6px;
}
