td.time {
    padding-right : 10px;
    color: #aaa;  
    text-align : right ;
}

* {}

body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  margin: 0;
  height: 500px;
  width: 400px;
}

table#notes {
    padding-bottom: 20px;
}

div#toolbar {
  padding: 8px;
  background: #eee;
  border: solid 1px #ccc;
}

div#count {
  padding-right: 8px;
  background: #eee;
  border: solid 1px #ccc;
  left:0; 
  position:fixed; 
  text-align:center; 
  bottom:0; 
  width:100%;
}

div#note div#toolbar input {
  width: 15%;
}

div#note div#toolbar input#destroy {
  float: right;
}

div#nav input#next {
  float: right;
}

div#count {
   text-align : right ;
}

div#index div#toolbar input#q {
  width: 60%; 
}

div#note textarea {
  margin-top: 8px;
  height: 452px;
  width: 98%;
}

div#index div#toolbar input#new {
  float: right;
}

td {
    cursor : pointer ;
}

table#notes {
    border-collapse:separate; 
    border-spacing:0px;
}

tr.abstract {
  color: #aaa;  
  font-size: 10px;
}

tr.abstract > td {
  padding-bottom: 7px;
}

.hidden {
  display: none;
}

#loader {
  background-image: url('/images/loader.gif');
  width: 64px;
  height: 64px;
  margin: 100px auto;
}
